@define-color accent #f2d5cf;
@define-color txt #cad3f5;
@define-color bg #303446;
@define-color bg2 #51576d;

 * {
    font-family: monospace;
    font-size: 12px;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 10px;
    border-radius: 7px;
    background-color: @bg;
 }

 /* Inner Box */
 #inner-box {
    border: none;
    background-color: @bg;
 }

 /* Outer Box */
 #outer-box {
    margin: 5px;
    border: none;
    padding: 10px;
    background-color: @bg;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    border: none;
 }

 /* Input */
 #input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    color: @accent;
    background-color: @bg2;
 }

 /* Text */
 #text {
    margin: 5px;
    padding: 5px;
    border: none;
    color: @txt;
 }

 #entry {
   border: none;
   background-color: @bg;
 }

/* Selected Entry */
 #entry:selected {
   background-color: @accent;
 }

 #entry:selected #text {
    color: @bg;
 } 

