[Desktop Entry]
Type=Application
Name=agenda
Exec=xournalpp /home/vivi/grive/inv21/agenda/agenda.xopp
Icon=planner
Terminal=false
X-Desktop-File-Install-Version=0.26
